body {
    background-color: rgb(33, 33, 33);
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin: 50px 100px;
    border: solid 1px blue;
}

header > div, css {
    display: flex;
    flex-flow: row nowrap;
    
    justify-content: center;
    align-items: center;

    margin: 30px;
}

#logo {
    width: 4em;
    height: 4em;
    margin: 20px;
}

h1 {
    font-size: 5em;
    font-weight: 600;
    color: rgb(35, 88, 168);
}

#searchcontainer {
    border: solid 1px blue;
    
    width: 20%;
    height: 70%;

    display: flex;
    flex-flow: row nowrap;

    justify-content: center;
    align-items: center;


}

#searchcontainer > img{
    
    width: 4em;
    width: 4em;
    background-color: transparent;

}
#searchcontainer > #search_input {
    width: 100%;
    height: 60px;

    background-color: transparent;
    border: solid 1px gray;
    border-radius: 5px;
    padding: 10px;

    color: whitesmoke;
}
/* section */
section {
    border: solid 1px blue;

    color: whitesmoke;
    
    margin: 100px;
    overflow: hidden;
}

section > h2 {
    font-size: 3em;
    margin-bottom: 80px;
}
section > #moviecontainer {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    flex-wrap: wrap;
    overflow: scroll;

    border: solid 1px blue;
    margin: 10px;

}

.posterImg {
    width: 270px;
    height: 480px;
    object-fit: cover;

    margin: 10px;
    border-radius: 20px;
}

/* footer */
footer {

    color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer > img {
    width: 1em;
    height: 1em;
}